<div class="row" *ngIf="_errorMessage">
    <div class="col-sm-12">
        <p class="alert alert-danger">{{_errorMessage}}</p>
    </div>
</div>
<div class="animated fadeIn" *ngIf="!_mode && !_errorMessage">
    <span class="spinner"></span>

</div>
<div class="animated fadeIn" *ngIf="_mode">
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="_form" (ngSubmit)="onSubmit()">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-create" *ngIf="_mode == 'create'">
                            <strong>Tạo mới Tin tức</strong>
                        </div>
                        <div class="update" *ngIf="_mode == 'update'">
                            <strong>Tin tức - {{_article.title}}</strong><br />
                            <small>Cập nhật tin tức</small>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('title')}">
                                <label class="col-sm-12" for="title">Tiêu đề <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="title"
                                           placeholder="Nhập tiêu đề"
                                           [formControl]="_form.controls['title']"
                                           [ngClass]="{'form-control-danger': !_isValid('title')}"
                                           [(ngModel)]="_article.title" />
                                </div><div class="clearfix"></div>
                                <div class="col-sm-12" *ngIf="!_formErrors.title.valid">
                                    <span class="help-block help-block-error">{{_formErrors.title.message}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <p class="help-text">* Tiều đề cho bài viết</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('thumbnail')}">

                                <label class="col-sm-12" for="thumbnail">Ảnh đại diện <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="file" class="form-control" id="thumbnail"
                                           (change)="onFileChange($event)" #fileInput>
                                    <button type="button" class="btn btn-sm btn-danger"
                                            (click)="clearFile()">Xóa ảnh</button>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-12" *ngIf="!_formErrors.thumbnail.valid">
                                    <span class="help-block help-block-error">{{_formErrors.thumbnail.message}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <p class="help-text">* Ảnh đại diện kích thước dưới 2Mb, cho phép định dạng png hoặc jpg</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group-wrapper">
                            <div class="form-group row" [ngClass]="{'has-danger': !_isValid('link')}">
                                <label class="col-sm-12" for="link">Link bài viết<span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="link"
                                           placeholder="Nhập link bài viết"
                                           [formControl]="_form.controls['link']"
                                           [ngClass]="{'form-control-danger': !_isValid('link')}"
                                           [(ngModel)]="_article.link" />
                                </div><div class="clearfix"></div>
                                <div class="col-sm-12" *ngIf="!_formErrors.link.valid">
                                    <span class="help-block help-block-error">{{_formErrors.link.message}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <p class="help-text">* Link cho bài viết</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group-wrapper">
                            <div class="form-group row">
                                <label class="col-sm-12" for="status">Trạng thái  <span class="required">*</span></label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="status" [formControl]="_form.controls['status']" [ngClass]="{'form-control-danger': !_isValid('status')}" [(ngModel)]="_article.status">
                                        <option *ngFor="let statusType of _statusTypes" [value]="statusType.value" [selected]="">{{statusType.label}}</option>
                                    </select>
                                </div><div class="clearfix"></div>
                                <div class="col-sm-12" *ngIf="!_formErrors.status.valid">
                                    <span class="help-block help-block-error">{{_formErrors.status.message}}</span>
                                </div>
                                <div class="col-sm-12">
                                    <p class="help-text">* Trạng thái có hiển thị hay không.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="!_form.valid || _submitted == true"><i class="fa fa-dot-circle-o"></i> Lưu</button>
                                <div *ngIf="_submitted" class="spinner"></div>
                            </div>
                            <div class="col-sm-6 text-right">
                                <a [routerLink]="['/article']" class="btn btn-sm btn-warning"><i class="fa fa-arrow-left"></i> Quay lại danh sách</a>
                            </div>
                            <div *ngIf="_errorMessage" class="col-xs-12 error-block mt-h">
                                <div class="alert alert-danger">{{_errorMessage}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
