<div class="row" *ngIf="_errorMessage">
    <div class="col-sm-12">
        <p class="alert alert-danger">{{_errorMessage}}</p>
    </div>
</div>

<div class="animated fadeIn" *ngIf="!_teachers && !_errorMessage">
    <span class="spinner"></span>
</div>
<div class="animated fadeIn" *ngIf="_teachers">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Teachers
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th class="text-xs-center">ID</th>
                                <th>Username</th>
                                <th>Email Address<br >(Confirmed At)</th>
                                <th width="15%" class="text-xs-center">Last Login</th>

                                <th width="15%" class="text-xs-center">Status<br />(Last Updated At)</th>
                                <th width="20%" class="text-xs-center">Functions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let teacher of _teachers">
                                <td class="text-xs-center">
                                    {{teacher.id}}
                                </td>
                                <td>
                                    {{teacher.username}}
                                </td>
                                <td>
                                    <p *ngIf="teacher.confirmed_at == null">
                                        {{teacher.unconfirmed_email}}
                                        <br /><span class="help-text text-danger">(Not Confirmed)</span>
                                    </p>
                                    <p *ngIf="teacher.confirmed_at != null">
                                        {{teacher.email}}
                                        <br /><span class="help-text" title="{{teacher.confirmed_at}}">({{teacher.confirmed_at | amTimeAgo}})</span>
                                    </p>
                                </td>
                                <td class="text-xs-center">
                                    <span *ngIf="teacher.last_login_ip == null" class="help-text">Never Logged In</span>
                                    <p *ngIf="teacher.last_login_ip != null" class="help-text" title="{{teacher.last_login_at}}">{{teacher.last_login_ip}}<br />({{teacher.last_login_at | amTimeAgo}})</p>
                                </td>
                                <!--<td class="text-xs-center">-->
                                    <!--<span *ngIf="teacher.blocked_at == null" class="help-text text-success">Not Blocked</span>-->
                                    <!--<span *ngIf="teacher.blocked_at != null" class="text-danger">Blocked since {{teacher.blocked_at}}</span>-->
                                <!--</td>-->
                                <td class="text-xs-center">
                                    <div *ngIf="teacher.blocked_at == null">
                                        <span [ngClass]="{
                                            'text-success': teacher.status == 10,
                                            'text-info': teacher.status == 1,
                                            'text-danger': teacher.status == 0 || teacher.status == -1
                                        }">{{teacher.status_label}}</span>

                                        <br /><span class="help-text" title="{{teacher.updated_at}}">({{teacher.updated_at | amTimeAgo}})</span>
                                    </div>
                                    <div *ngIf="teacher.blocked_at != null">
                                        <span *ngIf="teacher.blocked_at != null" class="text-danger" title="{{teacher.blocked_at}}">Blocked since {{teacher.blocked_at | amTimeAgo}}</span>
                                    </div>

                                </td>
                                <td class="text-xs-center">
                                    <div *ngIf="teacher.status != -1">
                                        <button class="btn btn-primary btn-sm" type="button" (click)="viewTeacher(teacher)">
                                            <i class="fa fa-edit"></i> Edit
                                        </button>
                                        <button class="btn btn-danger btn-sm" type="button" (click)="confirmDeleteTeacher(teacher)">
                                            <i class="fa fa-remove"></i> Remove
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" [routerLink]="['/teacher', 'create']" routerLinkActive="active"><i class="fa fa-plus-square"></i> Create New Teacher</a>
                </div>
            </div>
        </div>
    </div>
</div>