<div class="row" *ngIf="_errorMessage">
    <div class="col-sm-12">
        <p class="alert alert-danger">{{_errorMessage}}</p>
    </div>
</div>

<div class="animated fadeIn" *ngIf="!_schedules && !_errorMessage">
    <span class="spinner"></span>
</div>
<div class="animated fadeIn" *ngIf="_schedules">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Thời khóa biểu
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th class="text-xs-center">ID</th>
                                <th>Tiêu đề</th>
                                <th>Mô tả</th>
                                <th width="15%" class="text-xs-center">Ngày</th>

                                <th width="20%" class="text-xs-center">Chức năng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let schedule of _schedules">
                                <td class="text-xs-center">
                                    {{schedule.id}}
                                </td>
                                <td>
                                    {{schedule.title}}
                                </td>
                                <td>
                                    {{schedule.description}}
                                </td>
                                <td class="text-xs-center">
                                   ({{schedule.schedulet_time}})
                                </td>
                                <td class="text-xs-center">
                                    <div *ngIf="schedule.status != -1">
                                        <button class="btn btn-primary btn-sm" type="button" (click)="viewSchedule(schedule)">
                                            <i class="fa fa-edit"></i> Sửa
                                        </button>
                                        <button class="btn btn-danger btn-sm" type="button" (click)="confirmDeleteSchedule(schedule)">
                                            <i class="fa fa-remove"></i> Xóa
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" [routerLink]="['/schedule', 'create']" routerLinkActive="active"><i class="fa fa-plus-square"></i> Tạo mới Thời khóa biểu</a>
                </div>
            </div>
        </div>
    </div>
</div>