<header class="app-header navbar">
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3" *ngIf="userData.roleLabel == 'Administrator'">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <!--<li class="nav-item px-3">-->
            <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/staff']">Staffs</a>-->
        <!--</li>-->
        <!--<li class="nav-item px-3">-->
            <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/post']">Posts</a>-->
        <!--</li>-->
        <!--<li class="nav-item px-3">-->
            <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/user']">Users</a>-->
        <!--</li>-->
        <li class="nav-item px-3"  *ngIf="userData.roleLabel == 'Administrator'">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/setting']">Cài đặt</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">

        <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
            <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
                <span class="d-md-down-none">{{userData.username}} ({{userData.roleLabel}})</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/logout']"><i class="fa fa-lock"></i> Thoát</a>
            </div>
        </li>
    </ul>
</header>


<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard </a>-->
                <!--</li>-->
                <li class="nav-item"  *ngIf="userData.roleLabel == 'Administrator'">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/teacher']"><i class="icon-user-following"></i> Giáo viên </a>
                </li>
                <!--<li class="divider"></li>-->
                <li class="nav-item"  *ngIf="userData.roleLabel == 'Administrator'">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/class']"><i class="icon-graduation"></i> Lớp học </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/parent']"><i class="icon-people"></i> Phụ huynh </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/schedule']"><i class="icon-list"></i> Thời khóa biểu </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/event']"><i class="icon-energy"></i> Sự kiện </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/activity']"><i class="icon-heart"></i> Hoạt động </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/note']"><i class="icon-note"></i> Nhận xét </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/stage']"><i class="icon-note"></i> Trạng thái </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/article']"><i class="icon-book-open"></i> Tin tức </a>
                </li>
                <li class="divider"></li>


                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/staff']"><i class="icon-user-following"></i> Staffs </a>-->
                <!--</li>-->

                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/user']"><i class="icon-people"></i> Users </a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/setting']"><i class="icon-settings"></i> Settings</a>-->
                <!--</li>-->
                <li class="divider"></li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/logout']"><i class="icon-lock"></i> Thoát</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumbs></app-breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>

</div>

<footer class="app-footer">
    <a href="http://coreui.io">Kids</a> &copy; 2018 .
    <span class="float-right">Powered by <a href="#">Kids</a></span>
</footer>